@charset "UTF-8";


.profil_settings {
	width: 50%;
	margin-left: 25%;
}

.show_file {
	background-size: cover;
	width: 80%;
	height: 80px;
}

.font_setting {
	font-size: 16px;
}

.update_modal {
	width: 100%;
	height: 100%;
}

.form-control {
	resize: none;
	margin-top: 8px;
	display: flex;
}

.upload-font {
	color: orange;
	font-weight: bold;
	font-size: 22px;
	padding: 5px;
}

.open_check {
	display: flex;
	text-align: right;
}

#listmake {
	font-size: 14px;
	margin: 6px;
}

.img_field {
	border: 0 solid black;
	width: 100%;
	background-color: #ECE9EF;
}

.vr {
	border-left: medium;
}


/* 매니저 */
.atag {
	font-weight: bold;
	font-size: 20px;
}

.card-body {
	background-color: #ECE9EF;
}

.child_bundle {
	padding-left: 20px solid;
	color: black;
	font-size: 16px;
}

.child_bundle:hover {
	color: green;
}