@charset "UTF-8";

body {
	
}


#channel_banner {
	z-index: -1;
}

#chennelprofil {
	border-radius: 50%;
}

.carousel-control-prev-icon {
	display: block;
	margin: auto;
}

.video-title {
	font-size: 14px;
	font-weight: bold;
}

.video-up {
	font-size:12px;
	color: gray;
}

.play_list_title {
	font-size:14px;
	font-weight: bold;
	display:flex;
	margin-right: 5px;
	
}

#infor-tab-pane {
	display:flex;
	justify-content: flex-start;
}

#channelCont {
	margin-right: auto;
}

.style-scope {
	display:inline-block;
	height: 20px;
	width: 20px;
	margin-top: 5px;
	margin-left: 3px;
}

.form-floating {
	display: inline-block;
}

.fontsearch {
	font-size: 12px;
}

/* 검색 박스 */
.search-control {
	font-size: 12px;
	border: none;
	display: none;
}

#join-wrap {
   display: flex;
}

#join-side-bar {
   flex: 1;
}

#join-content {
        flex: 9;
        
    }

/* 최상위 부모로 배경색을 하얀색으로 */
.side-color {
	background-color: white !important;
}

.nav_channel {
	display: flex !important;
	flex-direction: row !important;
	justify-content: unset !important;
}