@charset "UTF-8";


.upload-font {
	color: orange;
	font-weight: bold;
	font-size: 22px;
	padding: 5px;
}

/*
	업로드 css 시작
*/
.out-side {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	background: #ff7f00;
	border-radius: 15px;
}

.drag-area {
	border: 2px dashed #fff;
	width: 500px;
	height: 330px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	flex-direction: column;
}

.drag-area.active {
	border: 2px solid red;
}

.drag-area .icon {
	font-size: 100px !important;
	color: #fff;
}

.drag-area header {
	font-size: 18px;
	font-weight: 100%;
	color: #fff;
}

.drag-area span {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	margin: 10px 0 15px 0;
}

.drag-area .upload_click_btn {
	padding: 7px 20px;
	font-size: 13px;
	font-weight: 500;
	border: none;
	outline: none;
	background: #fff;
	color: #ff7f00;
	border-radius: 5px;
	cursor: pointer;
}

.upload_input_file {
	padding: 7px 20px;
	font-size: 13px;
	font-weight: 500;
	border: none;
	outline: none;
	background: #fff;
	color: #ff7f00;
	border-radius: 5px;
	cursor: pointer;
	align-items: center;
}

.drag-area video {
	height: 80%;
	width: 80%;
	object-fit: cover;
	border-radius: 5px;
	
}

/*
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
*/
/*
	업로드 css 끝
*/

/*
	설명 css
*/


#floatingTextarea3 {
	resize: none;
	margin-top: 8px;
	display: flex;
}

.cont_area {
	width: 100%;
	paddin-top: 15px;
}

.modal-footer {
	display: flex;
}

.age_select {
	display: block;
	font-size: 12px;
	text-align: left;
	padding-top: 15px;
}

.start_img {
	color: white;
}

.save_img {
	padding: 15px;
	height: 100%;
	width: 100%;
}

.icon_img {
	background-size: contain;
	max-height: 150px;
}


.open_check {
	display: flex;
	text-align: right;
}


