@charset "UTF-8";

/* 항상 우측 스크롤바 표시 */
html { overflow-y : scroll; }

body { margin: 0; padding: 0; }

#wrap_myPage {
/* background-color: yellow; */
width: 100%;
height: 1080px;
}

/* 왼쪽 사이드 서브 메뉴 영역 */
#sub_menu_area{
background-color: gray;
width: 100px;
height: 1080px;
float: left;
}

/* 중앙 메인 컨텐츠 영역 */
#content_area {
/* background-color: blue; */
width: 60%;
height: auto;
margin-top: 30px;
float: left;
margin-left: 14%;
}

/* 오른쪽 사이드 채널 정보 영역 */
#channel_area {
/* background-color: orange; */
width: 250px;
margin-top: 100px;
position: fixed;
right: 10%;
}

/* 컨텐츠 박스 공통 스타일 */
.content_box {
background-color: white;
width: 100%;
height: auto;
display: inline-block;
}

/* ------------- 동영상 설정 ------------- */
.test_video {
border-radius: 10px;
width: 250px;
margin-right: 10px;
margin-left: 2px;
}
/* ----------- 동영상 설정 end ----------- */
.video_box {
display: inline-block;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 30px;
}

.video_pbox {
width: 550px;
vertical-align: top;
margin-top: 0px;
display: inline-block;
word-break:break-all;
}

.test { width: 100%; display: inline-block; }
.test_bad { width: 100%; display: inline-block; }

.content_title1 {
font-size: 20px;
margin-left: 15px;
width: 200px;
cursor: pointer;
}
.content_title1 a { text-decoration: none; }

.video_title_p {
font-size: 22px; margin-bottom: -10px; margin-top: 0px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.video_channel_p { font-size: 12px; margin-bottom: 0px; margin-top: 0px;}
.video_views_p {
font-size: 12px;
margin-top: 30px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.btn {
background-color: white;
font-size: 15px;
color: black;
text-decoration: none;
margin-left: 10px;
}
.btn span{ font-size: 20px; }

.info_hr { margin-top: 20px; margin-bottom: 20px; }

#search_box {
position: relative;
width: 220px;
margin-bottom: 70px;
}
.good_search {
width: 100%;
border: none;
border-bottom: solid;
padding: 10px 12px;
font-size: 14px;
}
#search_img {
position : absolute;
width: 17px;
top: 10px;
right: 5px;
margin: 0;
}
.video_d_img {
display: inline-block;
width: 15px;
vertical-align: top;
margin-top: 10px;
}

.video_d_img:hover {cursor: pointer;}



/* 옵션 영역 스타일 */
.list_option {
margin-left: 8px;
font-size: 15px;
display: none;
}
#option_date {
display: block;
}
.search_no_area {
display: none;
}
.new_no_area {
display: none;
}

/* 로그인 안했을 시 */
.page_none {
width: 100%;
height: 800px;
text-align: center;
}
.none_img { margin-top: 12%; }
.none_title {
font-size: 30px;
font-weight: bold;
}
.none_text { font-size: 17px; }
.none_btn {  }
.none_btn {
border: 0; outline: 0;
font-size: 12px;
width: 60px; height: 32px;
border-radius: 30px;
margin-top: 12px;
}
.none_btn:hover { background-color: #FB8703; }


/* ====================== 모달창 스타일 수정 영역 ====================== */
.modal { max-width: 780px; height: 300px; }
.modal a.close-modal { top: 5.5px; right: 5.5px; }

.model_title { margin-top: 25px; font-size: 25px; }
.model_btn { float: right; margin-right: 10px; margin-bottom: 10px; }
/* ====================== 모달창 스타일 수정 영역 끝 ====================== */

/* ========================== 미디어 쿼리 영역 ========================== */
@media screen and (max-width: 1500px) {
	.video_pbox{width: 500px;}
}
@media screen and (max-width: 1400px) {
	.video_pbox{width: 400px;}
}
@media screen and (max-width: 1300px) {
	.video_pbox{width: 300px;}
}
@media screen and (max-width: 1200px) {
	.video_pbox{width: 200px;}
}
@media screen and (max-width: 1100px) {
	.video_pbox{width: 112px;}
	.video_history_d_img {width: 15px; margin-top: 8px;}
}
@media screen and (max-width: 915px) {
	#channel_area {position: static; margin-left : 140px;}
	.content_box {width: 48%;}
	.video_pbox {width: 225px;}
	.video_history_d_img {width: 13px;}
	.video_views_p {margin-top: 10px;}
	#content_area {margin-left: 25%;}
}
/* 필요없을지도 모르는 코드 (크롬 최소 크기 / max-width: 500px)
@media screen and (max-width: 500px) { 
	#channel_area {position: static; margin-left : 140px;}
	.content_box {width: 48%;}
	.video_pbox {width: 225px;}
	#content_area {margin-left: 25%;}
}
*/
/* ========================== 미디어 쿼리 영역 end ========================== */