@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

#body {
font-family: 'Gowun Dodum', sans-serif;
}

.test_video  {
transition: all 0.2s linear;
overflow: hidden;
}

.test_video:hover {
transform: scale(1.15);
}

/* -----------------------------------------------------------반응형-------------------------------------------------------- */

@media screen and (max-width: 1500px) {
#adv{
display: none;
}
	 
.play_list_plus {
vertical-align: top;
float: right;
margin-right: 460px;
padding-bottom: 10px;
border: none;
background-color: white;
}
	 
.add_popList {
width: 200px;
background-color: #fc942c;
position: absolute;
padding: 10px;
margin-left: 350px;
margin-top: 3%;
border: solid;
border-color: white;
border-radius: 15px;
text-align: center;
align-items: center;
color: white;
z-index: 100000;
box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%),
    7px 7px 20px 0px rgb(0 0 0 / 10%),
    4px 4px 5px 0px rgb(0 0 0 / 10%);
}
	 
}/*반응형 end*/

/* -----------------------------------------------------------광고배너 css------------------------------------------------  */

 #adv_box{
   position: absolute;
   width: 230px;
   height: 480px;
   top: 165px;
   padding: 5px;
   right: 1%;
}

#adv{
   width: 230px;
   height: 480px;
   border-radius: 15px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	   				7px 7px 20px 0px rgba(0,0,0,.1),
	   				4px 4px 5px 0px rgba(0,0,0,.1);
}

 /*--------------------------------------------------------------유저 이미지 설정-------------------------------------------  */
.channel_profile{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 8px;
}

/* -------------------------------------------------------텍스트 설정----------------------------------------------------  */

*{
outline: none !important;
text-decoration: none !important;
}

#search_result a:hover{
color: #fc942c !important;
}

#search_result a:link {
color: black;
}

#search_result a:visited {
color: black;
}


#search_result a:active {
color: black;
}

/* --------------------------------------------------------------video css---------------------------------------------- */
	
video{
border-radius: 10px;
width: 360px;
height: 200px;
}
	
#search_result{
margin-left: 320px;
margin-top: 110px;
}

/* 컨텐츠 박스 공통 스타일 */
.content_box {
background-color: white;
width: 100%;
height: auto;
display: inline-block;
}

.video_box {
display: inline-block;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 10px;
}

.video_pbox {
width: 800px;
vertical-align: top;
margin-top: 0px;
display: inline-block;
word-break:break-all;
margin-bottom: 30px;
margin-left: 20px;
}

.video_title_p {
font-size: 23px;
color: #424242;
font-weight: bold;
margin-bottom: -10px;
margin-top: 0px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
width: 800px;
}

.video_channel_p {
font-size: 15px;
margin-bottom: 0px;
margin-top: 20px;
width: 800px;
}

.video_view_date_p {
font-size: 14px;
margin-bottom: 0px;
margin-top: 10px;
width: 800px;
}
	
.video_views_p {
font-size: 14px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
width: 800px;
margin-top: 5px;
}

.video_hash_p{
font-size: 13px;
margin-bottom: 0px;
margin-top: 10px;
width: 800px;
height: 25px;
background-color: #fc942c;
border-radius: 15px;
vertical-align: middle;
color: white;
padding-left: 10px;
padding-top: 2px;
}

.play_list_plus {
vertical-align: top;
float: right;
padding-bottom: 10px;
border: none;
background-color: white;
}

.play_list_plus:hover{
color: #fc942c;
}

.add_popList{
width : 200px;
background-color: #fc942c;
position:absolute;
padding: 10px;
right: 10.5%;
border: solid;
border-color: white;
border-radius: 15px;
text-align: center;
align-items: center;
color: white;
z-index: 100000;
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	   7px 7px 20px 0px rgba(0,0,0,.1),
	   4px 4px 5px 0px rgba(0,0,0,.1);
}

.listResult_pop{
padding: 15px;
text-align: left;
align-items: center;
word-break:break-all;
font-weight: lighter;
border-radius: 15px;
color: black;
background-color: white;
margin-top: 10px;
margin-bottom: 10px;
}

.add_playList{
border: none;
border-radius: 30px;
color: #424242;
font-size: 15px;
width:100px;
background-color: white;
}

.add_playList:hover{
color:#424242;
box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%),
    7px 7px 20px 0px rgb(0 0 0 / 10%),
    4px 4px 5px 0px rgb(0 0 0 / 10%);
}

.click_radio{
margin-right: 5px;
}

input[type=radio] {
accent-color: white; 
}

input[type=radio]:checked{
accent-color: #424242;
}

.text_title b{
	color: white;
}

/*-------------------------------------정렬 변환 토글 버튼---------------------------------------- */

.centerer {
  position: absolute;
  margin-top: 70px;
  margin-left: 420px;
  transform: translate3d(-50%, -50%, 0);
}

#ch_img{
	font-size: 2.5rem;	
}

.switcher {
  display: inline-block;
  height: 39px;
  padding: 4px;
  background: #fff;
  border-radius: 2px;
  width: 208px;
  border-radius: 30px;
  border: solid 1px #ddd;
  position: relative;
  
}

.switcher__input {
  display: none;
}

.switcher__label {
  float: left;
  width: 50%;
  font-size: 14px;
  line-height: 30px;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__toggle {
  position: absolute;
  float: left;
  height: 30px;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
  background-color: #fc942c;
  border-radius: 30px;
  left: 5px;
  top: 4px;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__input:checked + .switcher__label {
  color: #fff;
}

.switcher__input--yang:checked ~ .switcher__toggle {
  left: 100px;
}


/*--------------------------------------------------무한 스크롤 로딩 이벤트-------------------------------------- */


.loading_list {
  margin-top: 30px;
  width: 100%;
  height: 50px;
}

.loading_list > div {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
}


.loading_list > div > div {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #ff8c00;
  top: 10px;
  left: 10px;
  transform-origin: 20px 20px;
  border-radius: 8px;
  animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.loading_list > div > .c2 {
  top: 10px;
  left: auto;
  right: 10px;
  transform-origin: -4px 20px;
  animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loading_list > div > .c3 {
  top: auto;
  left: auto;
  right: 10px;
  bottom: 10px;
  transform-origin: -4px -4px;
  animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loading_list > div > .c4 {
  top: auto;
  bottom: 10px;
  transform-origin: 20px -4px;
  animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes spin-a {
  0%   { transform: rotate(90deg); }
  0%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-b {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  25%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-c {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  50%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-d {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  75% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}


.loading_list > span {
  width: 100px;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top: 30px;
  color: #ff8c00;
  font-size: 12px;
  text-align: center;
}

