@charset "UTF-8";

	#logo{
		cursor: pointer;
	}
	
/* ---------------------------------------------------------로딩화면------------------------------------------- */	
#loading {
   margin: 0;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: white;
   font-size: 20px;
   margin-top: 2em;
   overflow: hidden;
}

.loading_logo{
    margin-top: 14%;
    margin-left: 0%;
    margin-left: 5%;
    background:#fff;
    z-index:1000;	
}

.rabbit{
    width:100%;
    height:100%;
    position:fixed;
    margin-top: 0%;
    margin-left: 0%;
    background:#fff;
    z-index:1000; 
}

.clouds{
    width:100%;
    height:100%;
    position:fixed;
    margin-top: 0%;
    margin-left: 10%;
    background:#fff;
    z-index:1000;
}



.rabbit {
    width: 5em;
    height: 3em;
    color: #fc942c;
    background: 
        radial-gradient(
            circle at 4.2em 1.4em,
            white 0.15em,
            transparent 0.15em
        ), /* eye */
        currentColor;
    border-radius: 70% 90% 60% 50%;
    box-shadow: -0.2em 1em 0 -0.75em #333;
    z-index: 1;
    animation: hop 1s linear infinite;
}

@keyframes hop {
    20% {
        transform: rotate(-10deg) translate(1em, -2em);
        box-shadow: -0.2em 3em 0 -1em #333;
    }

    40% {
        transform: rotate(10deg) translate(3em, -4em);
        box-shadow: -0.2em 3.25em 0 -1.1em #333;
    }

    60%, 75% {
        transform: rotate(0deg) translate(4em, 0);
        box-shadow: -0.2em 1em 0 -0.75em #333;
    }
}

/* ears */
.rabbit::before {
    content: '';
    position: absolute;
    width: 0.75em;
    height: 2em;
    background-color: currentColor;
    border-radius: 50% 100% 0 0;
    transform: rotate(-30deg);
    top: -1em;
    right: 1em;
    border: 0.1em solid;
    border-color: #fc942c transparent transparent #fc942c;
    box-shadow: -0.5em 0 0 -0.1em;
}

/* tail and legs */
.rabbit::after {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    left: -0.3em;
    top: 0.5em;
    box-shadow: 
        0.5em 1em 0,
        4em 1em 0 -0.2em,
        4em 1em 0 -0.2em;
    animation: kick 1s infinite linear;
}

@keyframes kick {
    40% {
        box-shadow: 
            0.5em 2em 0,
            4.2em 1.75em 0 -0.2em,
            4.4em 1.9em 0 -0.2em;
    }
}

.clouds {
    width: 2em;
    height: 2em;
    color: #fc942c;
    background: currentColor;
    border-radius: 100% 100% 0 0;
    transform: translate(0, -5em);
    animation: cloudy 1s infinite linear forwards;
    filter: opacity(0);
}

@keyframes cloudy {
    40% {
        transform: translate(-3em, -5em);
        filter: opacity(0.75);
    }

    55% {
        transform: translate(-4em, -5em);
        filter: opacity(0);
    }
}

.clouds::before,
.clouds::after {
    content: '';
    position: absolute;
    background-color: currentColor;
    bottom: 0;
}

.clouds::before {
    width: 1.25em;
    height: 1.25em;
    border-radius: 100% 100% 0 100%;
    left: -30%;
}

.clouds::after {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100% 100% 100% 0;
    right: -30%;
}

.clouds,
.clouds::before,
.clouds::after {
    box-shadow: 
        5em 2em 0 -0.3em,
        -2em 2em 0 0;
}

	
/* --------------------------------------------------------이것저것 --------------------------------------------------------------  */	

	@media screen and (max-width: 1500px) {
		#user_div{
			display: none;
		}
		
		#search_div{
			width: 400px;
			margin-left: 18%;
		}
		
		.rel_search {
			width: 300px;
			left: 0px;
			top: 67px;
		}
		
		#logo{
		  display: none;
		}
		
		
		#video_list{
			margin-left: 28%;
		}
		
		#re_label{
			margin-left: 20%;
		}
	}
	
	
	@media screen and (min-width: 1501px) {
	
	#user_div{
		margin-top: 32px;
		flex: 1;
		height: 60px;
		color: white;
		position: absolute;
		right: 1px;
		font-size: 1.5rem;
		display: inline-flex;
		margin-right: 1%;
		vertical-align: bottom;
		text-align: center;
		}
	}
	
	#wrap{
		height: 80px;
		width: 100%;
		background-color: white;
		margin: 0px;
		padding-bottom: 0px;
		display: flex;
		text-align: center;
	}
	
	#search_go {
		width: 100%;
		justify-content: center;
		margin-top: 11px;
		margin-left: -65px;
	}

	#search_input:focus {
   		 outline: none;
	}
	
	#html #body {
		  margin: 0;
		  padding: 0;
		  outline: none;
	}

	#search_div{
		margin-top: 1%;
		justify-content: center;
		display: inline-flex;
		align-items: center;
		vertical-align: middle;
		flex: 1;
		
	}
	
	#user_icon {
		font-size: 1.6em;
		color: #fc942c;
		position: relative;
	}
	
	#search_input{
		display: inline-flex;
		position: relative;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		margin-left: -60px;
		width: 50em;
		height: 3em;
		background-color: #fc942c;
		color: white;
		border-radius: 5px 0 0 5px;
		border-right: none;
		border: none;
 		padding: 15px;
 		box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	   				7px 7px 20px 0px rgba(0,0,0,.1),
	   				4px 4px 5px 0px rgba(0,0,0,.1);
	}
	
	#search_btn{
		  color: white;
		  width: 40px;
		  height: 48px;
		  border: none;
		  background: #424242;
		  align-items: center;
		  justify-content: center;
		  display: inline-flex;
		  margin-left: 0px;
		  font-size: 1.3rem;
		  padding-left: -30px;
		  margin-left: -12px;
		  border-left: none;
		  border-radius: 0 5px 5px 0;
		  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	  	 				7px 7px 20px 0px rgba(0,0,0,.1),
	   					4px 4px 5px 0px rgba(0,0,0,.1);
	}
	
	#search_input:hover {
		 background-color: #424242;
		 color: #fc942c;
	}
	
	#search_btn:hover {
		 background-color: white;
		 color: #fc942c;
	}
	
	#search_input[type="text"] {
	  color: white;
	}
	
	#search_input::-webkit-input-placeholder { 
  		color: white; 
  	}
  
	
	
	/* -----------------------------------------select----------------------------------- */
	
	
	:root {
	  --gray: #54585c;
	  --darkgray: #424242;
	}
	
	.search_select select {
	  appearance: none;
	  outline: 0;
	  border: 0;
	  box-shadow: none;
	  flex: 1;
	  padding: 0 1em;
	  color: #fff;
	  background-color: var(--darkgray);
	  background-image: none;
	  cursor: pointer;
	  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	  			 7px 7px 20px 0px rgba(0,0,0,.1),
	  			 4px 4px 5px 0px rgba(0,0,0,.1);
	  
	}
	
	.search_select select::-ms-expand {
	  display: none;
	}
	
	.search_select {
	  position: relative;
	  display: flex;
	  width: 15em;
	  height: 48px;
	  border-radius: .25em;
	  overflow: hidden;
	  margin-right: 68px;
	  
	}
	
	.search_select::after {
	  content: '\25BC';
	  position: absolute;
	  top: 0;
	  right: 0;
	  padding: 1em;
	  padding-top: 0.8em;
	  padding-left: 0.8em;
	  background-color: #54585c;
	  transition: .25s all ease;
	  pointer-events: none;
	}
	
	.search_select::after {
	  color: #fc942c;
	}	
	
	
	
	/* ----------------------------------------user_login  css-------------------------- */
	
	 .customm-btn {
	  width: 200px;
	  height: 40px;
	  color: #fff;
	  border-radius: 5px;
	  font-family: 'Lato', sans-serif;
	  background: transparent;
	  cursor: pointer;
	  transition: all 0.3s ease;
	  position: relative;
	  display: inline-block;
	  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	   7px 7px 20px 0px rgba(0,0,0,.1),
	   4px 4px 5px 0px rgba(0,0,0,.1);
	  outline: none;
	}
   
	 #user_login {
	  background: #424242;
	  border: none;
	  z-index: 3;
	  width: 100px;
	  height: 35px;
	  font-size: 17px;
	  font-weight: bold;
	  box-shadow: none;
	}
	
  	#user_login:after {
	  position: absolute;
	  font-size: 17px;
	  content: "";
	  width: 0;
	  height: 100%;
	  top: 0;
	  right: 0;
	  z-index: -1;
	  background-color: #fc942c;
	  border-radius: 5px;
	   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	   7px 7px 20px 0px rgba(0,0,0,.1),
	   4px 4px 5px 0px rgba(0,0,0,.1);
	  transition: all 0.3s ease;
	} 
	 
	#user_login:hover {
	  background-color: #fc942c;
	}
 	#user_login:hover:after {
	  left: 0;
	  width: 100%;
	}
	#user_login:active {
	  top: 2px;
	} 
	
	
	
	/* ----------------------------------------user_join css---------------------------  */
	
	 #user_join {
	  background: #424242;
	  border: none;
	  z-index: 3;
	  width: 100px;
	  height: 35px;
	  font-size: 17px;
	  font-weight: bold;
	  box-shadow: none;
	}
	
 	#user_join:after {
	  position: absolute;
	  font-size: 17px;
	  content: "";
	  width: 0;
	  height: 100%;
	  top: 0;
	  right: 0;
	  z-index: -1;
	  background-color: #fc942c;
	  border-radius: 5px;
	   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	   7px 7px 20px 0px rgba(0,0,0,.1),
	   4px 4px 5px 0px rgba(0,0,0,.1);
	  transition: all 0.3s ease;
	} 
	
	#user_join:hover {
	  background-color: #fc942c;
	}
	#user_join:hover:after {
	  left: 0;
	  width: 100%;
	}
	#user_join:active {
	  top: 2px;
	}

	
	/* ------------------------------------user_logout css--------------------------------------------------------- */
		
		
	 #user_logout {
	  background: #424242;
	  border: none;
	  z-index: 3;
	  width: 100px;
	  height: 35px;
	  font-size: 17px;
	  font-weight: bold;
	  box-shadow: none;
	}
	
 	#user_logout:after {
	  position: absolute;
	  font-size: 17px;
	  content: "";
	  width: 0;
	  height: 100%;
	  top: 0;
	  right: 0;
	  z-index: -1;
	  background-color: #fc942c;
	  border-radius: 5px;
	   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	   7px 7px 20px 0px rgba(0,0,0,.1),
	   4px 4px 5px 0px rgba(0,0,0,.1);
	  transition: all 0.3s ease;
	} 
	
	#user_logout:hover {
	  background-color: #fc942c;
	}
	#user_logout:hover:after {
	  left: 0;
	  width: 100%;
	}
	#user_logout:active {
	  top: 2px;
	}
		


	/*----------------------------------------user_popup css-----------------------------------------------------  */
	#user_popup{
		position: absolute;
		display: none;
		width: 230px;
		height: 300px;
		background-color:white;
		right: 1px;
		top: 80px;
		border-color: lightgray;
		border-radius: 15px;
		border: 1px solid;
		text-align: left;
		
	}
	
	#user_popup ul{
		padding-bottom: 5px;
	}
	
	#user_popup ul li{
		font-size: 1rem;
		color: #424242;
		margin: 5px;
		list-style: none;
	}

	#user_nickname{
		margin-top: 10px;
		font-size: 2rem;
		color: #424242;
	}
	
	#user_div b{
		margin-top: 15px;
	}
	
	
	/* ------------------------------------------------자동완성창 css--------------------------------------- */
	 .hide {
		  display: none !important;
		} 
		
		.rel_search {
		  position: absolute;
		  top:75px;
		  left:335px;
		  flex-direction:column; 
		  z-index: 10000; 
		  justify-content : space-around;
		  border: 1px solid #e4e7e8;
		  border-radius: 0 0 6px 6px;
		  width: 50em;
		  text-align: left;
		  margin-left: 20.8%;
		  line-height: 1.8rem;
		  background-color: #fff;
		  border-top: 0;
		  box-shadow: 0 2px 3px 0;
		}	
		
		
		.pop_rel_keywords {
		  list-style: none;
   		  margin-left: -30px;
    	  width: 50em;
		}
		
		.pop_rel_keywords > li {
		  line-height : 250%;
		  width: 50em;
		  margin-left: -11px;
		  padding-left: 10px;
		}
		
		li.selected {
		   background-color: #facc9d;
		   margin-left: -11px;
		   padding-left: 10px;
		   width: 50em;
		}
		
		.autolist{
			margin-left: 9px;
		    padding-left: 10px;
		    width: 50em;
		}