@charset "UTF-8";


	/* 인풋태그 자동완성 배경색 없애기*/
	
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-text-fill-color: #000;
	    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
	    box-shadow: 0 0 0px 1000px #fff inset;
	    transition: background-color 5000s ease-in-out 0s;
	}
	
	input:autofill,
	input:autofill:hover,
	input:autofill:focus,
	input:autofill:active {
		-webkit-text-fill-color: #000;
	    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
	    box-shadow: 0 0 0px 1000px #fff inset;
	    transition: background-color 5000s ease-in-out 0s;
	}
	
	/* 부트스트랩 토스트창 배경색 중복 수정 */
	div.toast {
		background-color: unset;
	}
	
	div.toast-success {
		background-color: #51A351;
	}
	div.toast-warning {
		background-color: #f89406;
	}
	div.toast-info {
		background-color: #2F96B4;
	}
	div.toast-error {
		background-color: #BD362F;
	}
	
	/* password 클래스를 가진 input 태그 비밀번호 안보이게 처리 */
	input.password{
		-webkit-text-security:disc;
	}
	
	
	
	span.small-title-span {
		font-size: 1.1em;
		color: #fc942c;
	}
	
	span.small-span, span.small-span i {
		font-size: 0.8em;
		color: gray;
	}
	
	.small-content-span-1 {
		font-weight: bold;
		color: rgb(100, 100, 100);
	}
	
	.small-content-span-2 {
		font-size: 0.9em;
		color: rgb(120, 120, 120);
	}
	
	#info-channel-table th {
		width: 15%;
	}
	
	
	
	.date-empty:before{
	 	content: attr(data-placeholder);
	 	width: 100%;
	 }
	input.form-input {
		width: 100%;
		padding: 15px;
		padding-top: 20px;
	}
	
	input.form-btn {
		width : 100%;
		padding: 10px;
		border: 0px;
		border-radius: 10px;
		background-color: #fc942c;
		color: white;
		font-weight: bold;
	}
	
	input.form-btn:hover {
		filter:brightness(1.1);
	}
	
	hr.vertical-hr {
		width: 1px;
		height: 80%;
		border: 0px;
		border-left: 1px solid rgb();
	}
	
	hr.horizontal-hr {
		border: 0px;
		border-top: 1px solid gray;
	}
	
	div.login-menu {
		text-align: center;
	}
	
	a.form-a {
		text-decoration: none;
	}
	
	a.form-a:hover {
		text-decoration: none;
	}
	
	span.form-text {
		display: inline;
		color: gray;
	}
	
	span.form-link {
		display: inline;
		color: gray;
	}
	span.form-link:hover {
		color: black;
	}
	
	span.form-text.alert {
		color: red;
	}
	
	
	div.label-input {
		display: inline;
		position: absolute;
	    color: gray;
	    transition: all 0.5s;
	    margin-left: 20px;
	    margin-top: 18px;
	    text-align: initial;
	}
	
	
	.member-input{
		display: block;
		border-radius: 10px;
		border: 1px solid gray;
		background-color: transparent;
		font-size: 1em;
	}
	
	.member-input:focus{
		outline: none;
		box-shadow: none;
	}
	
	.onfocus{
		font-size: 0.6em;
		margin-left:12px !important;
		margin-top:8px !important;
	}
	
	.disabled{
		background-color: lightgray !important;
		color: gray !important; 
	}
	
	
	.member-modal {
		position: absolute;
		top: 0;
		left : 0;
		
		width: 100%;
		height: 100%;
		
		display: none;
		background-color: rgba(0, 0, 0, 0.4);
		
		z-index: 1000;

	}
	
	.member-modal-body{
		position: absolute;
		top: 50%;
		left: 50%;
		
		padding: 40px;
		
		background-color: rgb(255, 255, 255);
		border-radius: 10px;
		box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
		
		transform: translateX(-50%) translateY(-50%);
		
	}
	
	.member-modal-title span{
		font-size: 1.3em;
		color: rgb(50, 50, 50);
	}
	
	.member-modal-title.member-alert span::before{
		content: "⚠ ";
		color: orange;
	}
	
	.member-modal-title.member-sad span::before{
		content: "😥 ";
	}
	
	.member-modal-content {
		font-size: 0.9em;
		text-align: center;
	}
	
	.member-modal-content.member-alert span {
		color: #ea0008;
	}
	.member-modal-content.member-sad span {
		color: gray;
	}
	
	.member-modal-content input[type=button] {
		margin: 5px;
		margin-top: 10px;
		padding: 10px;
		color: gray;
		background-color: lightgray;
		border-radius: 10px;
		border: 1px solid lightgray;
	}
	.member-modal-content input[type=button].member-emp:hover {
		filter: brightness(1.1);
	}
	
	
	.member-modal-content input[type=button].member-emp {
		color: white;
		background-color: #fc942c;
		border: 1px solid #fc942c;
	}
	
	.info-hidden {
		display: none;
	}
	
	#info-info {
		color : gray;
		width: 50%;
		margin: auto;
		padding-top: 50px;
		padding-bottom: 30px;
		padding-left: 20px;
	}
	
	#info-info h4{
		color: rgb(20, 20, 20);
	}
	
	#info-info span:nth-child(3){
		font-size: 1.2em;
		color: rgb(20, 20, 20);
	}
	
	#info-info hr {
		width: 15%;
		border: none;
		background-color: #fc942c;
		height: 4px;
		text-align: left;
		margin-left: 0px;
	}
	
	label.toggle-switch{
		position: relative;
		display: inline-block;
		width: 50px;
		height: 28px;
		vertical-align: middle;
	}
	
	.toggle-switch input[type=checkbox] {
		display: none;
	}
	
	.toggle-switch-slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
	  	-webkit-transition: .4s;
		transition: .4s;
	}
	
	.toggle-switch-slider:before {
	  position: absolute;
	  content: "";
	  height: 20px;
	  width: 20px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
	input:checked + .toggle-switch-slider {
	  background-color: #fc942c;
	}
	
	input:focus + .toggle-switch-slider {
	  box-shadow: 0 0 1px #fc942c;
	}
	
	input:checked + .toggle-switch-slider:before {
	  -webkit-transform: translateX(22px);
	  -ms-transform: translateX(22px);
	  transform: translateX(22px);
	}
	
	.toggle-switch-slider.round {
	  border-radius: 34px;
	}

	.toggle-switch-slider.round:before {
	  border-radius: 50%;
	}
	
	div.input-wrap {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	
	.pwd-wrap {
		position: relative;
	}
	
	.pwd-eye {
		position: absolute;
		top: 15px;
		right: 20px;
		cursor: pointer;
		color: gray;
	}
	
	
	span.login-logo {
		color : rgb(20, 20, 20);
		font-size: 1.5em;
	}
	span.login-logo.txt {
		color : gray;
		font-size: 1em;
	}
	