@charset "UTF-8";
	a {
		text-decoration: none !important;
		color: inherit !important;
	}
	
	#info-wrap {
		display: flex;
	}
	
	#info-side-bar {
		flex: 1;
	}
	
	#info-content {
		flex: 9;
		display: flex;
		flex-direction: column;
	}
	
	#info-wrap-top {
		flex: 2;
		text-align: center;
	}
	
	#info-wrap-bottom {
		flex: 8;
	}
	
	#info-logo {
		height: 100px;
		display: flex;
		align-items: center;
	}
	
	#info-navi-wrap {
		height: 60px;
	}
	
	ul.info-navi {
		list-style: none;
	    padding-left: 0;
	    display: flex;
	    justify-content: space-around;
	    width: 50%;
	    height: 40px;
	    margin: auto;
	    border-bottom: 2px solid lightgray;
	}
	
	ul.info-navi > li {
		font-size: 1.3em;
		color: gray;
		transition: all 0.2s;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
		cursor: pointer;
	}
	
	ul.info-navi > li.navi-this-page {
		background-color: #fc942c;
		font-weight: bold;
		color: white;
	}
	
	ul.info-navi > li.navi-not-page:hover {
		border-bottom : 4px solid #fc942c;
	}

	ul.info-navi > li > ul {
		padding: 0px;
		position: absolute;
		top:38px;
		left:0px;
		display: none;
		width: 100%;
	}
	
	ul.info-navi > li > ul > li {
		list-style-type: none;
		font-size: 0.8em;
		background-color: rgb(245, 245, 245);
		color: gray;
		padding-top: 12px;
		padding-bottom: 10px;
		font-weight: normal;
	}
	ul.info-navi > li > ul > li:hover{
		background-color:#fc942c;
		color:white;
	}
	
	ul.info-navi > li.info-navi-selected > ul {
		display: block;
	}

	#info-protect-card, #info-premium-card {
		display: inline-block;
		border: 1px solid lightgray;
		border-radius: 10px;
		padding: 30px;
		width: 48%;
		text-align: left;
	}
	
	#info-protect-card {
		margin-right: 1%;
	}	
	
	#info-premium-card {
		margin-left: 1%;
	}	
	
	#info-profile-card, #info-channel-card {
		border: 1px solid lightgray;
		border-radius: 10px;
		padding: 30px;
		width: 49%;
		margin: auto;
	}

	#info-card-wrap-bottom {
		width: 50%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
	}
	
	#info-profile-card-content {
		text-align: left;
	}
	
	#info-profile-card-content-left, #info-profile-card-content-right {
		flex: 5;
	}
	
	#info-profile-card-title, #info-channel-card-title{
		display: flex;
		justify-content: space-between;
	}
	
	div.card-in-card{
		margin-top:10px;
		margin-bottom:10px;
		border-radius: 10px;
		border: 1px solid lightgray;
		padding: 10px;
	}
	
	div.card-in-card:hover{
		cursor: pointer;
		border: 1px solid #fc942c;
		background-color: rgba(252, 148, 44, 0.1);
	}
	
	#info-channel-card-content {
		text-align: left;
	}
	
	
	#info-profile-table {
		border-collapse: collapse;
		width: 100%;
	}
	
	#info-profile-table th{
		width: 15%;
	}
	#info-profile-table td{
		width: 35%;
	}
	
	img.channel-backcolor{
		border-radius: 100%;
		width: 80%;"
	}
	
	span.info-logo {
		font-size: 1.5em;
		color: #fc942c;
		margin: auto;
	}
	